{% block content %}
   <!-- HOME -->
<section class="home" id="home">
    <div class="swiper home-slider">
       <div class="swiper-wrapper">
          <section class="swiper-slide slide" style="background: url(../static/images/homepage.jpg) no-repeat; background-size: cover; background-position: center;">
             <div class="content">
                <h3>Get Started with a Free Quote</h3>
                <p>Our experts will assess your needs and provide a free quote after investigating the issue thoroughly. No cost, no obligations—just reliable service you can trust.</p>
                <a href="#about" class="btn">get started</a>
             </div>
          </section>

          <section class="swiper-slide slide" style="background: url(../static/images/homepage1.webp) no-repeat; background-size: cover; background-position: center;">
             <div class="content">
                <h3>We Provide the Best Service</h3>
                <p>At Uka RenovationLTD, our commitment to excellence shines through in every project. With a dedicated team of professionals, we deliver top-notch service tailored to your construction needs. Experience the difference with us.</p>
                <a href="#about" class="btn">get started</a>
             </div>
          </section>

          <section class="swiper-slide slide" style="background: url(../static/images/plumbing.jpeg) no-repeat; background-size: cover; background-position: center;">
            <div class="content">
               <h3>24h Plumbing Service</h3>
               <p>Count on us for round-the-clock plumbing service. Our expert team is available 24/7 to handle any plumbing emergency swiftly and effectively. Rest assured, your plumbing needs are in capable hands.</p>
               <a href="#about" class="btn">get started</a>
            </div>
         </section>
       </div>

       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
    </div>
 </section>
{% endblock %}
