{% block content %}
   <!-- HOME -->
<section class="home" id="home">
    <div class="swiper home-slider">
       <div class="swiper-wrapper">
          <section class="swiper-slide slide" style="background: url(images/home-slide-1.jpg) no-repeat;">
             <div class="content">
                <h3>we provide best service</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum maxime culpa dicta natus, consectetur
                   consequuntur?</p>
                <a href="#about" class="btn">get started</a>
             </div>
          </section>

          <section class="swiper-slide slide" style="background: url(images/home-slide-2.jpg) no-repeat;">
             <div class="content">
                <h3>making dream come to life</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, odio voluptatem accusantium non
                   molestias adipisci!</p>
                <a href="#about" class="btn">get started</a>
             </div>
          </section>

          <section class="swiper-slide slide" style="background: url(images/home-slide-3.jpg) no-repeat;">
             <div class="content">
                <h3>from concept to creation</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur aperiam, doloribus eius
                   adipisci ex illum.</p>
                <a href="#about" class="btn">get started</a>
             </div>
          </section>
       </div>

       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
    </div>
 </section>
{% endblock %}