{% block content %}
   <!-- SERVICES -->
   <section class="services" id="services">
    <h1 class="heading">our services</h1>

    <div class="box-container">
       <div class="box">
          <img src="images/service-1.png" alt="">
          <h3>building construction</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, exercitationem.</p>
       </div>

       <div class="box">
          <img src="images/service-2.png" alt="">
          <h3>house renovation</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, temporibus!</p>
       </div>

       <div class="box">
          <img src="images/service-3.png" alt="">
          <h3>architechture design</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, delectus!</p>
       </div>

       <div class="box">
          <img src="images/service-4.png" alt="">
          <h3>material supply</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, quasi.</p>
       </div>

       <div class="box">
          <img src="images/service-5.png" alt="">
          <h3>construction consultant</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, aliquam.</p>
       </div>

       <div class="box">
          <img src="images/service-6.png" alt="">
          <h3>interior design</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, totam!</p>
       </div>

       <div class="box">
          <img src="images/service-7.png" alt="">
          <h3>building maintenance</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, ipsa.</p>
       </div>

       <div class="box">
          <img src="images/service-8.png" alt="">
          <h3>building renovation</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, ex.</p>
       </div>
    </div>
 </section>
{% endblock %}