.blogs {
    background: var(--light-bg);
  }
  .blogs .slide {
    text-align: center;
  }
  .blogs .slide:hover .image img {
    transform: scale(1.1);
  }
  .blogs .slide .image {
    height: 25rem;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: -3rem;
  }
  .blogs .slide .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
  }
  .blogs .slide .content {
    padding: 2rem;
    padding-top: 5rem;
    background: var(--white);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  }
  .blogs .slide .content h3 {
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
  }
  .blogs .slide .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--light-color);
    line-height: 2;
  }