.contact {
    background: var(--black);
  }
  .contact .heading {
    color: var(--white);
  }
  .contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .contact .row .map {
    flex: 1 1 41rem;
    width: 100%;
  }
  .contact .row form {
    flex: 1 1 41rem;
    background: var(--white);
    padding: 2rem;
  }
  .contact .row form h3 {
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
  }
  .contact .row form .box {
    margin: 0.7rem 0;
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: var(--border);
    font-size: 1.6rem;
    color: var(--light-color);
  }
  .contact .row form .box:focus {
    border-color: var(--green);
  }
  .contact .row form textarea {
    height: 15rem;
    resize: none;
  }
  