.projects {
    background: var(--black);
  }
  .projects .heading {
    color: var(--white);
  }
  .projects .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  .projects .box-container .box {
    cursor: initial;
  }
  .projects .box-container .box:hover .image img {
    transform: scale(1.1);
  }
  .projects .box-container .box .image {
    height: 40rem;
    overflow: hidden;
  }
  .projects .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
  }
  .projects .box-container .box .content {
    display: flex;
    background: var(--white);
    justify-content: space-between;
  }
  .projects .box-container .box .content .info {
    padding: 1rem 2rem;
  }
  .projects .box-container .box .content .info h3 {
    font-size: 1.7rem;
    color: var(--black);
    text-transform: capitalize;
  }
  .projects .box-container .box .content .info p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
  }
  .projects .box-container .box .content i {
    width: 7.5rem;
    font-size: 3rem;
    background: var(--green);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    line-height: 7.5rem;
  }