.reviews .slide p {
    padding: 1.5rem;
    background: var(--light-bg);
    position: relative;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
  }
  .reviews .slide p::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    background: var(--light-bg);
    transform: rotate(45deg);
  }
  .reviews .slide .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .reviews .slide .user img {
    height: 7rem;
    width: 7rem;
  }
  .reviews .slide .user h3 {
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
  }
  .reviews .slide .user .stars {
    padding-top: 0.5rem;
  }
  .reviews .slide .user .stars i {
    font-size: 1.4rem;
    color: var(--green);
  }