{% extends 'base.html' %}

{% block content %}
 <!-- ABOUT -->
 <section class="about" id="about">
    <h1 class="heading">about us</h1>

    <div class="row">
       <div class="video">
          <video src="images/about-vid.mp4" loop muted autoplay></video>
       </div>

       <div class="content">
          <h3>We will provide you the best work which you dreamt for!</h3>
          <p>Welcome to Uka Renovation LTD, where passion meets craftsmanship. With YEARS_OF_EXPERIENCE of industry experience, our team of skilled professionals is dedicated to bringing your vision to life. From plumbing emergencies to full-scale renovations, we prioritize quality, reliability, and customer satisfaction every step of the way. Discover the difference with Uka Renovation LTD.</p>
          <a href="#services" class="btn">read more</a>
       </div>
    </div>

    <div class="box-container">
       <div class="box">
          <h3>10+</h3>
          <p>years of experience</p>
       </div>

       <div class="box">
          <h3>1500+</h3>
          <p>projects completed</p>
       </div>

       <div class="box">
          <h3>790+</h3>
          <p>satiesfied clients</p>
       </div>

       <div class="box">
          <h3>450+</h3>
          <p>active workers</p>
       </div>
    </div>
 </section>
{% endblock %}
