{% extends 'base.html' %}

{% block content %}
  <!-- REVIEWS -->
  <section class="reviews">
    <h1 class="heading">clients reviews</h1>

    <div class="swiper reviews-slider">
       <div class="swiper-wrapper">
          <div class="swiper-slide slide">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aut nesciunt eaque soluta! Fugit, enim
                voluptates! Ab nam id saepe! Sed velit fugit ipsum facere omnis eum quo ea maxime?</p>
             <div class="user">
                <img src="images/pic-1.png" alt="">
                <div class="info">
                   <h3>jhon deo</h3>
                   <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   </div>
                </div>
             </div>
          </div>

          <div class="swiper-slide slide">
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quis unde inventore fugit atque
                quia, eum adipisci neque natus explicabo deserunt perferendis soluta aut dolorem placeat accusamus
                quas quidem odit?</p>
             <div class="user">
                <img src="images/pic-2.png" alt="">
                <div class="info">
                   <h3>jhon deo</h3>
                   <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   </div>
                </div>
             </div>
          </div>

          <div class="swiper-slide slide">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur maiores natus, explicabo tempore
                voluptatum, nihil minus vitae dolores, expedita velit dicta dolorem temporibus voluptatem. Ullam
                impedit voluptate quo ad fugiat?</p>
             <div class="user">
                <img src="images/pic-3.png" alt="">
                <div class="info">
                   <h3>jhon deo</h3>
                   <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   </div>
                </div>
             </div>
          </div>

          <div class="swiper-slide slide">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore in eum enim repellendus cum unde hic
                vel. Facere inventore dolorum possimus quasi? Excepturi provident inventore maiores assumenda
                repellat. Laborum, rem!</p>
             <div class="user">
                <img src="images/pic-4.png" alt="">
                <div class="info">
                   <h3>jhon deo</h3>
                   <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   </div>
                </div>
             </div>
          </div>

          <div class="swiper-slide slide">
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit iure rem, autem aliquam
                corporis architecto quam vitae sequi facere praesentium ducimus odit, aspernatur nihil voluptatibus
                dolore veritatis excepturi expedita fugiat!</p>
             <div class="user">
                <img src="images/pic-5.png" alt="">
                <div class="info">
                   <h3>jhon deo</h3>
                   <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   </div>
                </div>
             </div>
          </div>

          <div class="swiper-slide slide">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quisquam sed eligendi animi tempora
                reprehenderit temporibus consequatur rem? Doloribus impedit cum iure reiciendis facere, quidem
                deleniti ratione aperiam ipsam deserunt?</p>
             <div class="user">
                <img src="images/pic-6.png" alt="">
                <div class="info">
                   <h3>jhon deo</h3>
                   <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
{% endblock %}
