   <!-- FOOTER -->
   <section class="footer">
    <div class="footer-contact">
      <img class="footer-logo" src="../static/images/ukaIcon.png" alt="">
      <div class="footer-contact-us">
        <div class="footer-phone fas fa-phone"></div>
        <div class="footer-text">
          <p class="footer-paragraph">Need our services?</p>
          <h3 class="footer-title">Call Us: 07470862575</h3>
        </div>
      </div>
      <div class="footer-social-media">
        <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram footer-instagram-icon"></a>
        <a href="https://www.facebook.com" class="fab fa-facebook footer-facebook-icon"></a>
      </div>
    </div>
    <div class="footer-content">
      <div class="footer-information footer-info-box">
        <h3 class="footer-title">UKA RENOVATION LTD</h3>
        <p class="footer-paragraph">UKA Renovation company was formed by contractors who come from generations of remodeling experience. Applying their knowledge and experience together to form a company who excels in field of business…</p>
      </div>
      <div class="footer-hiring footer-info-box">
        <h3 class="footer-title">We are Hiring</h3>
        <p class="footer-paragraph">Submit your Email below and we will contact you</p>
      </div>
      <div class="footer-services footer-info-box">
        <h3 class="footer-title">Services</h3>
        <ul class="footer-services-list">
          <li>> Plumber</li>
          <li>> Electrician</li>
          <li>> Painting</li>
          <li>> Tiling</li>
          <li>> Paving</li>
          <li>> Extention</li>
          <li>> Loft Conversion</li>
          <li>> Plastering</li>
          <li>> Flooring</li>
          <li>> Gardening</li>

        </ul>
      </div>
    </div>
    <div class="footer-links">
       <a class="btn" href="{{ url_for('index') }}">home</a>
       <a class="btn" href="#about">about</a>
       <a class="btn" href="#services">services</a>
       <a class="btn" href="#projects">projects</a>
       <a class="btn" href="#pricing">pricing</a>
       <a class="btn" href="#contact">contact</a>
       <a class="btn" href="#blogs">blogs</a>
    </div>

    

    <div class="credit">  
      © Copyright UKA RENOVATION LTD 2022. All Right Reserved.
    </div>
 </section>
 