   <!-- HEADER -->
   <header class="header">
      <a href="#" class="logo">
         <img class="ukaIcon" src="../static/images/ukaIcon.png" alt="ukarenovationltd">
      </a>
  
      <nav class="navbar active">
          <a href="#home">home</a>
          <a href="#about">about</a>
          <a href="#services">services</a>
          <a href="#projects">projects</a>
          <a href="#contact">contact</a>
          <a href="#blogs">blogs</a>
      </nav>
  
      <div class="icons">
          <div id="menu-btn" class="fas fa-bars"></div>
          <div id="info-btn" class="fas fa-info-circle"></div>
      </div>
  
  </header>

    <div class="contact-info">
      <div id="close-contact-info" class="fas fa-times"></div>
      <img class="ukaIcon" src="../static/images/ukaIcon.png" alt="ukarenovationltd">
      <div class="info">
         <i class="fas fa-phone"></i>
         <h3>phone number</h3>
         <p>07470862575</p>
      </div>

      <div class="info">
         <i class="fas fa-envelope"></i>
         <h3>email address</h3>
         <p>info@ukarenovationltd.co.uk</p>
      </div>

      <div class="info">
         <i class="fas fa-map-marker-alt"></i>
         <h3>office address</h3>
         <p>106 Darwin Road Ealing W5 4BH</p>
      </div>

      <div class="share">
         <a href="#" class="fab fa-facebook-f"></a>
         <a href="#" class="fab fa-twitter"></a>
         <a href="#" class="fab fa-instagram"></a>
         <a href="#" class="fab fa-linkedin"></a>
      </div>
   </div>